<head>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <meta name="viewport" content="initial-scale=1.0"/>

    <!--<script src="plugin/owl.carousel.js"></script>-->
    <!--<script src="assets/css/owl.carousel.js"></script>-->
</head>

<body data-hijacking="off" data-animation="scaleDown">

</body>

<template name="cover">
    <!--Web View-->
    {{#if IsWeb}}
        <img src="./img/sample3.png" width="100%">
        <img src="./img/esc-pile-logo-transparent.png" style="right:0; top:0; position:absolute; z-index:1;">
        <button class="btn btn-info btn-lg login-btn" data-toggle="modal" data-target="#LoginModel">Login</button>

        <!-- Login Modal -->
        <div id="LoginModel" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header list-group-item-info">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="alert alert-danger" style="display:none;">
                                <strong>Error!</strong> occured.
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" class="form-control" placeholder="Enter password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="login" class="btn btn-success">Login</button>
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="wrapper no-swipe swipe-control scrollable">-->
            <!--{{>swipe Swiper=MySwiper.Swiper}}-->
        <!--</div>-->
    {{/if}}

    <!--Mobile View-->
    {{#if IsMoblie}}

        <section class="testimonials bg-gray">
            <div class="container wow fadeIn">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="testimonials-carousel">
                            <div class="item">
                                <div class="row" style="width:100%; margin:0;">
                                    <img src="img/esc-pile-logo-transparent.png">
                                </div>
                            </div>
                            <div class="item">
                                <div class="row" style="width:100%; margin:0;">
                                    <div class="chapter-header">Contents</div>
                                    <div class="contents-board">
                                        {{#each chapter_data}}
                                            <div class="col-sm-3" style="min-height:200px;">
                                                <div style="height:160px; border:solid 4px #AACCAA; overflow:hidden;"><img src="{{icon}}"></div>
                                                <p style="font-size:20px; padding:5px;">{{name}}</p>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{#each chapter_data}}
                                <div class="item">
                                    <div class="row" style="width:100%; margin:0;">
                                        {{#each page_data_in_chapter name}}
                                            <div id="{{_id}}">{{generate_code _id code}}</div>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/each}}

                            <!--<div class="item">-->
                                <!--<table class="table table-bordered">-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th>Firstname</th>-->
                                        <!--<th>Lastname</th>-->
                                        <!--<th>Email</th>-->
                                    <!--</tr>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>John</td>-->
                                        <!--<td>Doe</td>-->
                                        <!--<td>john@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Mary</td>-->
                                        <!--<td>Moe</td>-->
                                        <!--<td>mary@example.com</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>July</td>-->
                                        <!--<td>Dooley</td>-->
                                        <!--<td>july@example.com</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                            <!--</div>-->

                            <!--<div class="item">-->
                                <!--<div class="row" style="width:100%; margin:0;">-->
                                    <!--<div class="col-lg-12">-->
                                        <!--<p class="lead">saying_item1_lead</p>-->
                                        <!--<hr class="colored">-->
                                        <!--<p class="quote">saying_item1_qoute</p>-->
                                        <!--<div class="testimonial-info">-->
                                            <!--<div class="testimonial-img">-->
                                                <!--<img src="/img/magario/renata_guiotti.png" class="img-circle img-responsive" alt="">-->
                                            <!--</div>-->
                                            <!--<div class="testimonial-author">-->
                                                <!--<span class="name">saying_item1_name"</span>-->
                                                <!--<p class="small">saying_item1_pos</p>-->
                                                <!--<div class="stars">-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="item">-->
                                <!--<div class="row" style="width:100%; margin:0;">-->
                                    <!--<div class="col-lg-12">-->
                                        <!--<p class="lead">saying_item2_lead</p>-->
                                        <!--<hr class="colored">-->
                                        <!--<p class="quote">saying_item2_qoute</p>-->
                                        <!--<div class="testimonial-info">-->
                                            <!--<div class="testimonial-img">-->
                                                <!--<img src="/img/magario/javed_rasool.png" class="img-circle img-responsive" alt="">-->
                                            <!--</div>-->
                                            <!--<div class="testimonial-author">-->
                                                <!--<span class="name">saying_item2_name</span>-->
                                                <!--<p class="small">saying_item2_pos</p>-->
                                                <!--<div class="stars">-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                    <!--<i class="fa fa-star"></i>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<div class="wrapper">-->
            <!--{{>swipe Swiper=Swiper}}-->
        <!--</div>-->

        <!--<nav class="navbar navbar-inverse" style="margin-bottom:0;">-->
            <!--<div class="container-fluid">-->
                <!--<div style="display:inline-block;">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li><a href="#"><span class="glyphicon glyphicon-menu-hamburger" style="font-size:32px;"></span></a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="navbar-header" style="display:inline-block;">-->
                    <!--<a class="navbar-brand" href="#" style="font-size:32px; padding-top:26px;"> ESC Pile</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</nav>-->
        <!--<div class="sidebar" style="z-index:2;">-->
                <!--<ul class="nav nav-pills nav-stacked" style="height:100%; overflow:auto;">-->
                    <!--<li class="sidebar-home active"><a href="#">Home</a></li>-->
                    <!--&lt;!&ndash;<li class="sidebar-test"><a href="#">Testing123456</a></li>&ndash;&gt;-->
                    <!--{{#each pdf_data}}-->
                        <!--<div id="{{info.url}}">-->
                            <!--<li class="sidebar-item">{{directory}}</li>-->
                            <!--{{#each sub_dir}}-->
                                <!--<li class="sidebar-item-sub"> - {{name}}</li>-->
                            <!--{{/each}}-->
                        <!--</div>-->
                    <!--{{/each}}-->
                <!--</ul>-->
        <!--</div>-->


        <!-- In your template -->
        <!--<div id="Testing" style="width:100%; height:100%; position:absolute; z-index:0;">-->
            <!--<img src="./img/esc-pile-logo-transparent.png" style="width: 100%; padding-top:20%;">-->
            <!--<div style="width:100%; font-size:48px; color:#6666AA; text-align:center; margin-top:5%;">-->
                <!--Catalog App-->
            <!--</div>-->
        <!--</div>-->
        <!--<canvas id="pdfcanvas" style="width:100%; height:87.5%; z-index:1;"></canvas>-->
        <!--<div id="pdf_buttons" style="position:fixed; bottom:0; width:100%; display:none;">-->
            <!--<span id="pdf-left" class="glyphicon glyphicon-circle-arrow-left" style="font-size:32px; left:0; padding-left:30%; position:absolute;"></span>-->
            <!--<label id="pdf-page" style="width:100%; height:100%; font-size:24px; text-align:center; vertical-align:middle;">1</label>-->
            <!--<span id="pdf-right" class="glyphicon glyphicon-circle-arrow-right" style="font-size:32px; right:0; padding-right:30%; position:absolute;"></span>-->
        <!--</div>-->
        <!--<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#LoginModel"></button>-->
        <!--<button class="btn btn-info btn-lg" data-toggle="modal" data-target="#LoginModel"><span class="glyphicon glyphicon-right-arrow" style="font-size:32px;"></span></button>-->

        <!--<iframe id="showframe" src="indexpage" style="width:100%;"></iframe>-->
        <!--<object id="show_pdf_obj" data="" type="application/pdf" style="width:100%; height:88.5%;">-->
            <!--<embed id="show_pdf_emb" src="" type="application/pdf" />-->
        <!--</object>-->

        <!--<div id="myCarousel" class="carousel slide" data-ride="carousel" style="z-index:-1; max-width:100%; max-height:100%; overflow:hidden; top:0; position:absolute;">-->
            <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
            <!--<div class="carousel-inner" role="listbox">-->
                <!--{{#each page_data}}-->
                    <!--<div class="item">-->
                        <!--<div id="{{page}}_{{directory}}">{{generate_code page directory code}}</div>-->
                    <!--</div>-->
                <!--{{/each}}-->
                <!--&lt;!&ndash;<div class="item active">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="img_chania.jpg" alt="Chania">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="img_chania2.jpg" alt="Chania">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="img_flower.jpg" alt="Flower">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="img_flower2.jpg" alt="Flower">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    {{/if}}
</template>

<template name="CoverPage">
    <img src="img/esc-pile-logo-transparent.png" style="margin: auto;">
</template>

<template name="ContentPage">

</template>

<!--<template name="BlankTemp">-->
<!--</template>-->

<!--<template name="PDFTemp">-->
<!--</template>-->

