<head>
    <!-- include libraries(jQuery, bootstrap, fontawesome) -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

    <!-- include summernote css/js-->
    <link href="summernote.css" rel="stylesheet">
    <script src="summernote.min.js"></script>
</head>

<template name="dashboard">
    <button type="button" class="btn btn-primary btn-lg logout-btn">Logout</button>

    {{#if IsLogin}}
        <div class="content" style="display: none">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Catalog App</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a class="nav-tab" href="#" value="overview">Overview</a></li>
                            <li><a class="nav-tab" href="#" value="add-pile">Add PDF</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="Overview" class="page-item">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Index</th>
                        <th>Directory</th>
                        <th>PDF File</th>
                        <th>URL</th>
                        <th>Create Date</th>
                        <th>By</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each pdf_data}}
                        <tr>
                            <td>{{pageindex}}</td>
                            <td>{{directory}}</td>
                            <td style="text-align:left;">{{info.name}}</td>
                            <td style="text-align:left;"><a href="{{info.url}}" target="_blank">{{info.url}}</a></td>
                            <td style="text-align:left;">{{createAt}}</td>
                            <td>{{createBy.name}}</td>
                            <td><button type="button" class="btn btn-info btn-sm edit-btn"  data-toggle="modal" data-target="#EditModel">Edit</button></td>
                            <td><button type="button" class="btn btn-danger btn-sm delete-btn">X</button></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            <div id="AddPDF" class="page-item" style="display:none;">
                <h2>Add PDF</h2>
                <div id="summernote">Hello Summernote</div>
                <div class="pile-form">
                    <div class="alert alert-danger" style="display:none;">
                        <strong>Error!</strong> occured.
                    </div>
                    <div class="form-group" style="display:inline-block; width:60%;">
                        <label>Directory Name:</label>
                        <input type="text" class="form-control" placeholder="Directory Name (Empty for using the file name)">
                    </div>
                    <div class="form-group" style="display:inline-block; width:20%; margin-left:19.5%;">
                        <label>Index:</label>
                        <input class="form-control" type="number" min="1" step="1" value="1">
                    </div>
                    <br>
                    <div id="AddPDF_SubDir">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm add-sub-directory">Add Sub Directory</button>
                    <br>
                    <br>
                    <div class="form-group">
                        <label>PDF File:</label>
                        {{> upload_bootstrap fileTypes='.pdf' multiple=false callbacks=uploadFinished}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div id="EditModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header list-group-item-info">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group" style="display:none;">
                                <label></label>
                            </div>
                            <div class="form-group" style="display:inline-block; width:60%;">
                                <label>Directory Name:</label>
                                <input type="text" class="form-control" placeholder="Directory Name (Empty for using the file name)">
                            </div>
                            <div class="form-group" style="display:inline-block; width:20%; margin-left:10%;">
                                <label>Index:</label>
                                <input class="form-control" type="number" min="1" step="1" value="1">
                            </div>
                            <br>
                            <div id="Edit_SubDir">
                            </div>
                            <button type="button" class="btn btn-primary btn-sm edit-add-sub-directory">Add Sub Directory</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="edit" class="btn btn-success">Save</button>
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>