//background
@loadingbackground:   #3D3D3B;
@coverbackground:     #ffffff;
@navhowtobackground:  #1A507C;
@aboutbackground:     #BFC2B7;
@indexbackground:     #BFC2B7;
@sectionbackground:   #BFC2B7;
@sectionbackground2:  #F0D6C7;
@thanksbackground:    #3D3D3B;

@headerbackground:    #3D3D3B;
@textbackground:      #ffffff;


////body
//@body-bg: ;

body {
  font-family: "Interstate", AvenirNext, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  background-color: #ffffff;
  padding-left: 0px;
  float:left;
}

h1, .h1 {
  font-size: 60px;
  padding-right: 30px;
}

.panel-body {
  float:right;
}

.coverimg {
  float:right;
}

////links
//@link-color: ;
//@link-hover-color: ;
//@link-hover-decorationL: ;

//fonts
@font-family-sans-serif: src("/public/assets/fonts/InterstateRegular.ttf");
@font-family-serif: src("/public/assets/fonts/InterstateRegular.ttf");
@headerfont: src("/public/assets/fonts/Interstate-Bold.ttf");
@headerfont2: src("/public/assets/fonts/InterstateRegular.ttf");
@bodyfont: src("/public/assets/fonts/Interstate-Thin_24147.ttf");

////headings
//@font-size-h1: ;
//@font-size-h2: ;
@headings-font-family: Interstate;
//@headings-color: ;
//
////progress bar
//@progress-bg: ;
//@progress-bar-color: ;
//
//@progress-border-radius: ;
//
//@progress-bar-bg: ;
//
//@progress-bar-success-bg: ;
//
//@progress-bar-warning-bg: ;
//@progress-bar-danger-bg: ;
//@progress-bar-info-bg: ;

.logout-btn {
  right: 0;
  z-index: 1;
  position: absolute;
  margin-top: 2.5px;
  margin-right: 2px;
}
.login-btn {
  top: 200px;
  right: 50px;
  width: 98px;
  z-index: 1;
  position: absolute;
}
.modal-header {
  text-align: center;
}

.alert {
  font-size: 14px;
}

#AddPile .h2 {
  text-align: center;
}
.pile-form {
  width: 80%;
  margin: 0 auto;
}
.pile-text-input {
  width: 100%;
  height: 300px;
}
th, td {
  text-align: center;
}
.table-add-col {
  top: 302px;
  right: 0;
  height: 28px;
  position: absolute;
}
.table-add-row {
  height: 28px;
  position: relative;
}

.ToContnet {
  left:0;
  top:0;
  position: fixed;
}
.PreviousPage {
  left: 0;
  bottom:0;
  position: fixed;
}
.NextPage {
  right:0;
  bottom:0;
  position: fixed;
}

.uploadPanel {
  .btn-file {
    z-index: 1;
    width: 10%;
  }
  .form-control {
    width: 90%;
    display: inline-block;
  }
}

#Overview {
  table {
    tbody {
      tr {
        td {
          vertical-align: middle;
          font-size: 12px;
        }
      }
    }
  }
}

.sidebar {
  left: -40%;
  width: 40%;
  position: fixed;
  .sidebar-home,
  .sidebar-test,
  .sidebar-item,
  .sidebar-item-sub{
    margin: 0;
    font-size: 16px;
    background-color: #FFFFFF;
    border-left: solid 2px grey;
    border-right: solid 2px grey;
    border-bottom: solid 2px grey;
  }
}

.favbar {
  left: 100%;
  width: 40%;
  position: fixed;
  .sidebar-home,
  .sidebar-test,
  .sidebar-item,
  .sidebar-item-sub{
    margin: 0;
    font-size: 16px;
    background-color: #FFFFFF;
    border-left: solid 2px grey;
    border-right: solid 2px grey;
    border-bottom: solid 2px grey;
  }
}

.chapter-header {
  height: 268px;
  background-color: #fff;
  border: solid 50px #fff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 36px;
  color: orangered;
  font-family: serif;
}
.contents-board {
  width: 100%;
  height: 500px;
  background-color: #fff;
  border: solid 50px #fff;
  overflow: scroll;
}
.item {
  padding: 5px;
}

html > body {
  overflow: auto;
  background-color: #AACCAA;
}

//html, body{
//  margin:0;
//  padding:0;
//  height:100%;
//}
//section {
//  position: relative;
//  border: 1px solid #000;
//  padding-top: 37px;
//  background: #500;
//}
//section.positioned {
//  position: absolute;
//  top:100px;
//  left:100px;
//  width:800px;
//  box-shadow: 0 0 15px #333;
//}
//.container {
//  overflow-y: auto;
//  height: 200px;
//}
table {
  border-spacing: 0;
  width:100%;
}
td + td {
  border-left:1px solid #eee;
}
td, th {
  border-bottom:1px solid #eee;
  background: #ddd;
  color: #000;
  padding: 10px 25px;
}
th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}
th div{
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #800;
}
th:first-child div{
  border: none;
}

.item > table > thead > tr > td {
  border: black 2px solid;
}

table > thead > tr > td,
table > tbody > tr > td {
  border-left: white 6px solid;
  border-right: white 6px solid;
}

#showframe,
.sidebar {
  height: 89%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes SidebarOpen {
  from {left: -40%;}
  to {left: 0%;}
}
@keyframes SidebarOpen {
  from {left: -40%;}
  to {left: 0%;}
}
@-webkit-keyframes SidebarClose {
  from {left: 0%;}
  to {left: -40%;}
}
@keyframes SidebarClose {
  from {left: 0%;}
  to {left: -40%;}
}

@-webkit-keyframes FavbarOpen {
  from {left: 100%;}
  to {left: 60%;}
}
@keyframes FavbarOpen {
  from {left: 100%;}
  to {left: 60%;}
}
@-webkit-keyframes FavbarClose {
  from {left: 60%;}
  to {left: 100%;}
}
@keyframes FavbarClose {
  from {left: 60%;}
  to {left: 100%;}
}