//background
@loadingbackground:   #3D3D3B;
@coverbackground:     #ffffff;
@navhowtobackground:  #1A507C;
@aboutbackground:     #BFC2B7;
@indexbackground:     #BFC2B7;
@sectionbackground:   #BFC2B7;
@sectionbackground2:  #F0D6C7;
@thanksbackground:    #3D3D3B;

@headerbackground:    #3D3D3B;
@textbackground:      #ffffff;


//body
@body-bg: ;

body {
  font-family: "Interstate", AvenirNext, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  background-color: #ffffff;
  padding-left: 0px;
  float:left;
}

h1, .h1 {
  font-size: 60px;
  padding-right: 30px;
}

.panel-body {
  float:right;
}

.coverimg {
  float:right;
}

//links
@link-color: ;
@link-hover-color: ;
@link-hover-decorationL: ;

//fonts
@font-family-sans-serif: src("/public/assets/fonts/InterstateRegular.ttf");
@font-family-serif: src("/public/assets/fonts/InterstateRegular.ttf");
@headerfont: src("/public/assets/fonts/Interstate-Bold.ttf");
@headerfont2: src("/public/assets/fonts/InterstateRegular.ttf");
@bodyfont: src("/public/assets/fonts/Interstate-Thin_24147.ttf");

//headings
@font-size-h1: ;
@font-size-h2: ;
@headings-font-family: Interstate;
@headings-color: ;

//progress bar
@progress-bg: ;
@progress-bar-color: ;

@progress-border-radius: ;

@progress-bar-bg: ;

@progress-bar-success-bg: ;

@progress-bar-warning-bg: ;
@progress-bar-danger-bg: ;
@progress-bar-info-bg: ;

.logout-btn,
.login-btn {
  right: 0;
  z-index: 1;
  position: absolute;
}
.modal-header {
  text-align: center;
}

.alert {
  font-size: 14px;
}

#AddPile .h2 {
  text-align: center;
}
.pile-form {
  width: 80%;
  margin: 0 auto;
}
.pile-text-input {
  width: 100%;
  height: 300px;
}
th, td {
  text-align: center;
}
.table-add-col {
  top: 302px;
  right: 0;
  height: 28px;
  position: absolute;
}
.table-add-row {
  height: 28px;
  position: relative;
}